.red{
    color: red;
    background-color:darkseagreen;
}
.green{
    color: green;
    background-color:darksalmon;
}
.orange{
    color: orange;
    background-color: seagreen;
}
.blue{
    color: blue;
    background-color: rgb(220, 209, 110);
}
