

<div>
    <p>Positive Quotes</p>
    <input #myName placeholder="Enter your name" />
    <button (click)="displayName(myName.value)">Click Me</button>
    <p>{{ greeting }}</p>
  
    <div *ngIf="display; then thenBlock; else elseBlock"></div>
  
    <ng-template #thenBlock>
      <!-- <p>Hello {{ myName.value }}!Have a good day</p> -->
      <h4 > Pick a color to see the difference</h4>

      <div *ngFor = "let color of colorData">
        <input type="radio" name="color" value={{color}} #{{color}} (click)="colorPick(color)"/>
        <label for={{color}}>{{color}}</label>
      </div>
      <!-- <div [ngSwitch]="colour" >
        <h3 *ngSwitchCase="'red'" [ngClass]="'red'">
          Hello {{ myName.value }}! Have a good day
        </h3>
        <h3 *ngSwitchCase="'blue'" [ngClass]="'blue'">
          Hello {{ myName.value }}! Have a good day
        </h3>
        <h3 *ngSwitchCase="'green'" [ngClass]="'green'">
       
          Hello {{ myName.value }}! Have a good day
        </h3>
        <h3 *ngSwitchCase="'orange'" [ngClass]="'orange'">
          Hello {{ myName.value }}! Have a good day
        </h3>
        <h4 *ngSwitchDefault> Hello {{ myName.value }}! Have a good day</h4>

      </div>    -->

      <div [ngSwitch]="colour" [ngClass]="colour" >
        <h3 *ngSwitchCase="'red'" >
          Hello {{ myName.value }}! Have a good day
        </h3>
        <h3 *ngSwitchCase="'blue'" >
          Hello {{ myName.value }}! Have a good day
        </h3>
        <h3 *ngSwitchCase="'green'" >
       
          Hello {{ myName.value }}! Have a good day
        </h3>
        <h3 *ngSwitchCase="'orange'" >
          Hello {{ myName.value }}! Have a good day
        </h3>
        <h4 *ngSwitchDefault> Hello {{ myName.value }}! Have a good day</h4>

      </div>
    </ng-template>
  
    <ng-template #elseBlock>
      <p>Please enter the data</p>
    </ng-template>
  </div>